<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Document</title>
  </head>

  <body>
    <div class="grid-nav">
      <div class="item1">
        <img src="../static/images/heart.svg" alt="">
        <p>+ 000 일째 콩닥콩닥</p>
        <img src="../static/images/heart.svg" alt="">
      </div>
      <div class="item2">2024년 6월 26일</div>
      <div class="item3">날씨</div>
    </div>
    <div class="campus-view">
      <div class="select-view">
        <div class="button-1"><img src="../static/images/circle.svg" alt="">
          <p>a</p>
        </div>
        <div class="button-2"><img src="../static/images/circle.svg" alt="">
          <p>b</p>
        </div>
        <div class="button-3"><img src="../static/images/circle.svg" alt="">
          <p>c</p>
        </div>
      </div>
    </div>
    <div class="explain-view">
      <div class="explain-item1">a</div>
      <div class="explain-item2">사과/경영관, 혜화관, 대운동장, 학술문화관</div>
      <div class="explain-item3">b</div>
      <div class="explain-item4">명진관, 법학관, 신공학관, 중앙도서관, 상록원, 팔정도</div>
      <div class="explain-item5">c</div>
      <div class="explain-item6">만해광장, 원흥관, 학림관, 정보문화관 P / Q, 학생회관</div>
    </div>
  </body>

</html>