<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/signuppp.css">
</head>
<body>
    <div class="main">
        <div class="frame1">
            <div id="rectangular"></div>
            <div>회원가입이 완료되었습니다!</div>
            <div>동국대학교 캠퍼스 곳곳에 
                나의 청춘을 기록해보세요</div>

        </div>
<div class="frame2">
    <button>메인으로</button>
</div>
    </div>
</body>
</html>