<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/write.css">
</head>
<body>

<div class="container">
    <div id="today">오늘의 일기</div>
    <div class="frame1">
        <div>2024년 6월 19일</div>
        <div>날씨:  {{}}</div>
    </div>

    <textarea></textarea>

    <div class="frame2">
        <div>태그:</div>
        <input type="text" >
    </div>

    <div class="frame3">
        <button type="submit"  >저장</button>
    </div>


</div>
</body>
</html> 