<!DOCTYPE html>
<html>
<head>
    <title>All Posts</title>
</head>
<body>
    <h1>All Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                {{ post.title }}
                <!-- 북마크 폼 -->
                <form action="{% url 'bookmark' post.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        {% if post.is_bookmarked %}
                            Unbookmark
                        {% else %}
                            Bookmark
                        {% endif %}
                    </button>
                </form>
                <!-- 게시물 상세 링크 -->
                <a href="{% url 'post_detail' post.category post.subcategory post.id %}">Detail</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'mainpage' %}">Back to Main Page</a>
</body>
</html>
